body
{
    margin:0;
    padding:0;
    background-color : #171717;
    font-family : sans-serif;

}
h1
{
    color:white;
    text-transform:uppercase;
    font-weight:700;
    text-align:center;
}
.login
{
    background-color:black;
    opacity:1;
    color:white;
    width: 500px;
    height:700px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    transition : 500ms;
}
input[type=email],input[type=password],input[type=text],input[type=tel]

{

    background:none;
    margin : 20px auto;
    display : inline-block;
    text-align: center;
    letter-spacing:5px;
    width: 210px;
    padding: 14px;
    border :2px solid #3498db;
    color:white;
    border-radius : 24px;
    transition : 0.25s;
    outline:none;
}
input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,input[type=tel]:focus
{
    width : 220px;
    border-color:#2ecc72;
    letter-spacing:5px;
}
input[type=submit]
{
    background:none;
    letter-spacing:5px;
    margin : 20px auto;
    display : block;
    text-align:center;
    cursor:pointer;
    padding: 14px 40px;
    border :2px solid #3498db;
    color:white;
    transition : 0.25s;
    outline:none;
}
input[type=submit]:focus
{
    background:#2ecc72;
}
