@-webkit-keyframes delay {
  0%, 50%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

body:before, body:after {
  content: '';
  height: 50%;
  width: 100%;
  position: fixed;
  left: 0;
  background: #1e1e1e;
  z-index: 5;
}
body:before {
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
body:after {
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  position: absolute;
  background-color: #1e1e1e;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 500;
  opacity: 0;
}
.loader > div {
  height: 100%;
  width: 8px;
  float: left;
  margin-left: 2px;
  -webkit-animation: delay 0.8s infinite ease-in-out;
          animation: delay 0.8s infinite ease-in-out;
}
.loader .bar1 {
  background-color: #754fa0;
}
.loader .bar2 {
  background-color: #09b7bf;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.loader .bar3 {
  background-color: #90d36b;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.loader .bar4 {
  background-color: #f2d40d;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.loader .bar5 {
  background-color: #fcb12b;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.loader .bar6 {
  background-color: #ed1b72;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
